LLM_API_KEY=AQ.Ab8RN6Kl9q70I2bBA3yG0bnrBJmIgyL_q1nwMXzsqjzMjvOzTg
LLM_MODEL=gemini-2.5-flash
GITHUB_TOKEN=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
